<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Contents/Style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <header class="header_menu">
        <nav class="navbar">
            <div class="logo"><a href="~/Home/Index">TropicTrail</a></div>
            <ul class="links">
                <li><a href="~/Home/Index">Home</a></li>
                <li><a href="~/Home/HotDeals">Hottest deal!</a></li>
                <li><a href="~/Home/Offers">Offers</a></li>
                <li><a href="~/Home/Features">Features</a></li>
                <li><a href="~/Home/ContactUs">Contact Us</a></li>
            </ul>
            <div class="btns">
                <ul>
                    @if (User.Identity.IsAuthenticated)
                    {
                        @Html.ActionLink("Book Now", "BookNow", "Home", null, new { @class = "btnLogout" })
                        @Html.ActionLink("Logout", "Logout", "Home", null, new { @class = "btnLogout"})
                    }
                    else
                    {
                        @Html.ActionLink("Login", "Login", "Home", null, new { @class = "btnLogin" })
                        @Html.ActionLink("Sign-Up", "Create", "Home", null, new { @class = "btnSignUp" })
                    }
                    
                </ul>   
            </div>
            <div class="toggle_btn">
                <i class="fa-solid fa-bars"></i>
            </div>
        </nav>
        <div class="dropdown_menu open">
            <li><a href="#">Home</a></li>
            <li><a href="#">Hottest deal!</a></li>
            <li><a href="#">Offers</a></li>
            <li><a href="#">Features</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#" class="btnLogin">Login</a></li>
            <li><a href="#" class="btnSignUp">Sign-Up</a></li>
        </div>
    </header>

    <script>
        const toggleBtn = document.querySelector('.toggle_btn')
        const toggleBtnIcon = document.querySelector('.toggle_btn i')
        const dropDownMenu = document.querySelector('.dropdown_menu')

        toggleBtn.onclick = function () {
            dropDownMenu.classList.toggle('open')
            const isOpen = dropDownMenu.classList.contains('open')

            toggleBtnIcon.classList = isOpen
            ? 'fa-solid fa-xmark'
            : 'fa-solid fa-bars'
        }
    </script>

    @RenderBody()

    <footer id="footer_menu" class="footer_menu">
        <div class="footer_copyright">
            <div class="row">
                <div class="col-md-5">
                    <p>
                        &copy;copyright. designed and developed by Alan
                    </p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>